<div class="jumbotron">
	<h1>Dearly Beloved</h1>
	<p>Victor and I are getting married June 14, 2014, and we are excited to share this day with family and loved ones. Formal invitations will be going out in a couple of weeks, and we truly hope you will be able to join us. For the sake of those interested in making travel arrangements to San Diego, I have taken the liberty of putting together some information you may find helpful.</p>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">The Ceremony</h3>
	</div>
	<div class="panel-body">
		<p>We will have an outdoor service on the picturesque shores overlooking San Diego Bay. The location for the ceremony is:</p>
		<a href="http://www.portofsandiego.org/harbor-island-park.html">
			Harbor Island Park
		</a>
		<address>
			1875 Harbor Island Drive<br>
			San Diego CA 92101 
		</address>
		<a href="http://goo.gl/maps/Y4QkL">Here is a map to the ceremony location.</a>
		<p>Free parking is available, however spaces may be limited. We recommend arriving early and/or carpooling if possible to avoid having to park far away. The service will be a Catholic Mass and all are welcomed to take communion. Victor and I belong to <a href="http://www.mmacc.org/">Mary Magdalene Apostle Catholic Community</a>, and we are active members and volunteers in our church. The service will be officiated by our pastor Rev. Jane Via, a leading figure in the Roman Catholic Womanpriest movement. We are planning a service that I hope you will find inspiring and unique.</p>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">The Reception</h3>
	</div>
	<div class="panel-body">
		<p>After the ceremony, we hosting a reception dinner with cocktails and entertainment. The venue is in North Park, 6 miles northeast (about a 15-20 minute drive) from Harbor Island. 
		The location for the reception is:</p>
		<a href="http://queenbeessd.com/banquetsreceptions/">
			Queen Bee's Art and Cultural Center 
		</a>
		<address>
			3925 Ohio Street<br>
			San Diego CA 92104
		</address>
		<a href="http://goo.gl/maps/nuywz">Here is a map to the reception location.</a>
		<p>A limited number of free parking places will be available in the Chase Bank parking lot across the street; be sure to let the parking attendant know you are there for the Roman/Johnson wedding reception. If the lot is full, know there is also multi-level parking garage located one block away at 3829 29th Street (fee is $5 for the evening). Cocktails and appetizers will be available between 5-6. Dinner will be served buffet style and will offer a variety of options that represent some of San Diego's culinary favorites. Adults can take advantage of the full bar, and there will be live entertainment and games the whole family can enjoy.</p>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Registry</h3>
	</div>
	<div class="panel-body">
		<p>Your attendance for the special day is a great gift in itself, so please do not feel obligated to bring presents. However, as a courtesy to those that would like to give a wedding gift, we have registered at the following places: <a href="http://www.amazon.com/gp/registry/wedding/XFUVG87PFNAQ">Amazon</a>, <a href="http://www.jcpenney.com/dotcom/jsp/giftregistry/gifterGiftList/gifterGiftList.jsp?regId=80041790&sort=category&filterBy=viewAll&view=list&fName=David&lName=Johnson&state=CA&registryType=W">JCPenney</a>, and <a href="http://www.honeyfund.com/wedding/VictorAndDavid">Honeyfund</a>.</p>
	</div>
</div>


