<div class="jumbotron">
  <h1>Please Join Us</h1>
  <p class="lead">
    <img src="images/151_320.jpg" alt="Victor and David"><br>
    June 14th, 2014
  </p>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
      <h4 class="panel-title">Welcome!</h4>
  </div>
  <div class="panel-body">
        Thank you for visiting our wedding website.  Please browse to the Information page for details on the ceremony and reception.  Browse to the Travel page for hotel and travel options, as well as things to do while in San Diego.  Please check back again in a week for photos, contact information and our story.
  </div>
  <div class="panel-footer">
      ♥ from David and Victor
  </div>
</div>
