<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Accommodations</h3>
	</div>
	<div class="panel-body">
		<p>We have reserved blocks of rooms at two lovely hotels that are conveniently located. Just be sure to mention you are part of the Roman/Johnson wedding to qualify for special discount rates. We invite you to consider these options when making your travel plans; feel free to contact us directly if you would like any further recommendations or ideas on where to stay.</p>
		<div class="media">
			<div class="pull-left">
				<a href="#"><span class="glyphicon glyphicon-home"></span></a>
				<address>
					2223 El Cajon Blvd.<br>
					San Diego CA 92104<br>
					(619) 296-2101
				</address>
			</div>
			<div class="media-body">
				<h4 class="media-heading">
					<a href="http://www.lafayettehotelsd.com/">Lafayette Hotel</a>
				</h4>
				<p>Relaxed and ready for anything, the newly redesigned Lafayette Hotel, Swim Club & Bungalows blends unique style and exceptional service with eco-friendly practices to become your ideal travel companion. Reserve a room and see for yourself why this California boutique hotel was a one-time haven for iconic celebrities and continues to be a destination worth discovering again and again. The discount rate is $149/night. Parking is free. Cab ride to the airport is about $20. Reservation must be booked 1 month in advance (May 14th) to qualify for the special rate. The Lafayette Hotel is a 5 minute drive or 15 minute walk from Queen Bee's. For questions, feel free to email <a href="mailto:coleen@lafayettehotelsd.com">coleen@lafayettehotelsd.com</a>.</p>
			</div>
		</div>
		<div class="media">
			<div class="pull-left">
				<a href="#"><span class="glyphicon glyphicon-home"></span></a>
				<address>
					1835 Columbia Street<br>
					San Diego CA 92101<br>
					(619) 544-0164
				</address>
			</div>
			<div class="media-body">
				<h4 class="media-heading">
					<a href="http://www.portovistasd.com/">Porto Vista Hotel</a>
				</h4>
				<p>A San Diego California Hotel perfectly located in one of San Diego’s oldest districts, Little Italy, with fine dining restaurants and local pubs and bars along India St and our very own award winning restaurant the Glass Door Restaurant and Bar on the Fourth Floor with amazing harbor views and spectacular Sunsets from our dining patio. The Porto Vista’s great location is close by downtown, Gaslamp District, the San Diego Airport, San Diego Zoo, Sea World and Convention Center. The Porto Vista Hotel is a 5 minute drive to Harbor Island Park and the airport. The group rate is $139/night and includes several perks, but hotel parking is extra ($12/day). The hotel provides and airport shuttle. Reserve by May 12th to qualify for the special group rate.</p>
			</div>
		</div>
		<div class="media">
			<div class="pull-left">
				<span class="glyphicon glyphicon-home"></span><br>
				<a href="https://www.airbnb.com/">airbnb.com</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading">
					<a href="https://www.airbnb.com/">AirBnB</a>
				</h4>
				<p>Victor and I have had good experiences with this site. You can reserve a private room in a home for as low as $27/night or rent out an entire villa for the whole week. Airbnb is a community marketplace where guests can book spaces from hosts, connecting people who have space to spare with those who are looking for a place to stay. Through their experiences on Airbnb, guests and hosts build real connections with real people from all over the globe.</p>
			</div>
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Transportation</h3>
	</div>
	<div class="panel-body">
		<p>For cheap flights to San Diego, be sure to check Southwest Airlines and Virgin America. Don't forget that Amtrak also stops here. For those flying into San Diego, you have several options for getting around the city if you prefer to avoid renting a car. Cabs are quick and inexpensive. We also like car-sharing services like Lyft and Car2Go which have downloadable apps for iphone and android. Finally, consider catching the trolley or bus by accessing MTS for $5/day.</p>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			Other things to do in San Diego (besides getting married)
		</h3>
	</div>
	<div class="panel-body">
		<p>From surf lessons to upscale shopping, from the Méxican border to the world famous San Diego Zoo, there is a ton of different options for things to do in America's Finest City. I've listed a few pages to help get started.</p>
		<ul>
			<li>
				<a href="http://www.reddit.com/r/sandiego/comments/d9dlr/definitive_list/">
					Reddit's Things to do in SD
				</a>
			</li>
			<li>
				<a href="http://www.sdcitybeat.com/sandiego/flex-267-best-of-2013.html">Citybeat's Best of San Diego 2013
				</a>
			</li>
			<li>
				<a href="http://www.yelp.com/topic/san-diego-best-restaurant-in-sd#vnzPYT2fKD3d1XLWF6B9Tw">
					Best Restaurants in SD from Yelp
				</a>
			</li>
			<li>
				<a href="http://www.balboapark.org/">Balboa Park</a>
			</li>
			<li>
				<a href="http://www.tripadvisor.com/Attractions-g60750-Activities-San_Diego_California.html">
					Trip Advisor's Things to do in San Diego
				</a>
			</li>
		</ul>
	</div>
</div>